@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    body {
        @apply bg-slate-400
    }
    html {
        scroll-behavior: smooth;
    }

    .font-script {
        font-family: 'Dancing Script', cursive;
    }
    .serif-pro {
        font-family: 'Source Serif Pro', serif;
    }
    .spartan {
        font-family: 'League Spartan', sans-serif;
    }

    .ts {
        text-shadow: 1px 1px 6px rgba(61,61,61, 0.7);
        text-shadow: 1px 1px 2px rgba(61,61,61, 1);
    }
    .contact-input {
        @apply py-1 px-2 placeholder:text-xl font-light w-full !appearance-none outline-none h-9 border-b-2 border-slate-500
        focus:border-orange-500 transition-colors ease-in-out serif-pro
    }
    .sec-animation {
        transition-property: transform, opacity;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 700ms;
    }

    .box {
        --a: 50px; /* the size of the triangle */
        --g: 0px; /* the gap */
    }
    .top-container-lg {
        clip-path: polygon(0 0,100% 0,100% calc(100% - var(--a)),calc(50% + 154px) calc(100% - var(--a)),calc(50% + 104px) 100%,calc(50% + 54px) calc(100% - var(--a)),0 calc(100% - var(--a)))
    }
    .bottom-container-lg {
        margin-top: calc(var(--g) - var(--a));
        clip-path: polygon(0 0,calc(50% + 54px - .414*var(--g)) 0,calc(50% + 104px) calc(var(--a) + .414*var(--g)),calc((50% + 154px) + .414*var(--g)) 0,100% 0,100% 100%, 0 100%);
    }
    .top-container {
        clip-path: polygon(0 0,100% 0,100% calc(100% - var(--a)),calc(50% + var(--a)) calc(100% - var(--a)),50% 100%,calc(50% - var(--a)) calc(100% - var(--a)),0 calc(100% - var(--a)))
    }
    .bottom-container {
        margin-top: calc(var(--g) - var(--a));
        clip-path: polygon(0 0,calc(50% - var(--a) - .414*var(--g)) 0,50% calc(var(--a) + .414*var(--g)),calc(50% + var(--a) + .414*var(--g)) 0,100% 0,100% 100%, 0 100%);
    }

    /* Animations */


    .infinite {
        animation: mymove 1.3s infinite;
    }
    @keyframes mymove {
        from {top: 0px;}
        to {top: -48px;}
    }

    .down-chevron {
        animation: chevron 1.3s infinite;
    }
    @keyframes chevron {
        from {top: 0px;}
        to {top: 64px;}
    }

    .bg-cicle {
        animation: bg 3s infinite;
    }
    @keyframes bg {
        0% { opacity: 0; }
        100% { opacity: 1;}
    }

    .border-gradient {
        bottom: 0;
        animation: animateGlow 5s ease infinite;
        background-size: 200% 200%;
        background: linear-gradient(to right, #f25c54, #f7b267, #cdb4db, #f25c54);
        content: '';
        background-size: 200% 200%;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    @keyframes animateGlow {
        0%  { background-position: 0% 50% }
        50% { background-position: 100% 50% }
        100% { background-position: 0% 50% }
    }

}